@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: futurak;
  src: url(../Assets/fonts/futurak/futurak.ttf);
}


@font-face {
    font-family: Apercu Pro;
    src: url(../Assets/fonts/apercue/apercu-regular.ttf);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --black: #000000;
  --red: #ed1c24;
  --white: #ffffff;
  --text: #ffffffb3;
}



#home{
  padding: 12px 16.5px ;
  background-color: transparent;
  border-radius: 25px;
  color: var(--white);
    background-color: transparent;
    cursor: pointer;
    
  
  
}

#about{
  padding: 12px 16.5px ;
  background-color: transparent;
  border-radius: 25px;
  color: var(--white);
    background-color: transparent;
    
}


.order-btn{
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 12px 17px;
    border-radius: 30px;
    cursor: pointer;
}

.order-icon{
    color: var(--red);
    background-color: var(--white);
    padding: 5px 6px;
    border-radius: 25px;
}



#button2{
  padding: 12px 16.5px ;
  background-color: transparent;
  border-radius: 25px;
  color: var(--white);
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
    
}

body{
    background-color: black;
}
#img{
    width: 165px;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#m{
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    font-size: larger;
}
#img1{
    width: 165px;
}
#button1{

width: 102.86px;
}
#img2{
    width: 100%;
}

#par{
    color: white;
    text-align: center;
    justify-content: center;
    
}
#par1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text);
    text-align: center;
}
#h2{
    color: white;
    text-align: center;
}
#pic1{
    background-color: #ffff;
}

#card1{
  background-color: #ffff;
}



#card2{
  background-color: #ffff;
}
#card3{
  background-color: #ffff;
}
#card4{
  background-color: #ffff;
}

#divbtn{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

#hamburger{
  display: none;
}





#main-conatiner{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px;

}



#brands-conatiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}







#maindiv{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}



.brand-image{
  background-color: var(--white);
  width: 260px;
  height: 140px;
  display: flex;
  border-radius: 10px;
}

#Salt{
  color: var(--white);
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  font-family: Apercu Pro;
  margin-top: 50px

  
}
#paper{
  font-family: futurak;
  font-weight: lighter;
  font-size: 52px}

#resturent{
  font-size: 32px;
  font-weight: 200;
  font-family: Apercu Pro;
  margin-top: 20px;
  color: var(--white);
}

#addres-isl{
  font-size: 16px;
  font-weight: 546;
  font-family: Apercu Pro;
  margin-top: 20px;
  color: var(--white);
}

#phone-isl{
  font-size: 16px;
  font-weight: 546;
  font-family: Apercu Pro;
  margin-top: 20px;
  color: var(--white);
}

#Direction-btn{
  padding: 12px 16.5px ;
  background-color: transparent;
  border-radius: 25px;
  color: var(--white);
    background-color: transparent;
    border: 1px solid;
}

#sal1{
  font-family: futurak;
  font-weight: lighter;
  font-size: 52px;
  color: var(--white);
  text-align: center;
  margin-top: 130px;
  justify-content: center;
}

#par2{
  color: var(--white);
  text-align: center;
  justify-content: center;
  font-size: 48px;
}
#par3{
  color: var(--text);
  text-align: center;
  justify-items: center;
  font-size: 16px;
  margin-top: 10px;
}
#Islamabad{
  color: var(--red);
}

#main{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  
  padding: 40px 0px;/
}
.franchise-saltn{
  
  font-family: futurak;
  font-weight: lighter;
  font-size: 32px;
  color: var(--white);
}
#par4{
  color: var(--white);
  font-size: 32px;
  margin-top: 20px;

}
#isl-ad{
  color: var(--white);
  font-size: 16px;
  margin-top: 20px;

}
#isl-ph{
  color: var(--white);
  font-size: 16px;
  margin-top: 20px;
}
#main1{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
    gap: 30px;
  padding: 40px 0px;/
}

#fasalabad{
  color: var(--red);
}



#Express{
  flex-wrap: wrap;
}

#Pepper{
  text-align: center;
  margin-top: 50px;
}


#flex-row{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

}

#Order-btn{
padding: 15px 20px ;
background-color: transparent;
border-radius: 25px;
color: var(--white);
  background-color: transparent;
border: 1px solid white ;



}


.text-red{
    color: var(--red);
}

p{
  padding: 8px 8px;
  color: rgb(170, 170, 170);
  font-family: Apercu Pro;

}



.images-hotels{
    width: 320px;
    height: 250px;
}




#sar1{
 
  padding: 12px 16.5px ;
  background-color: transparent;
  border-radius: 25px;
  color: var(--white);
    background-color: transparent;
    border: 1px solid;

}
#jhe1{

  padding: 12px 16.5px ;
  background-color: transparent;
  border-radius: 25px;
  color: var(--white);
    background-color: transparent;
    border: 1px solid;

}

#fai1{
  
  padding: 12px 16.5px ;
  background-color: transparent;
  border-radius: 25px;
  color: var(--white);
    background-color: transparent;
    border: 1px solid;


}






.Express-saltn{

  font-family: futurak;
  font-weight: lighter;
  font-size: 25px}



  #Gujranwala-row{
    display: flex;
    padding: 30px 0px;
    
}

#Gujranwala-text{
  padding: 50px 5px;
}




.Village-image{
  width: 538px;
  height: 309px;
}


    


#Gujranwala-text{
    padding: 50px 5px;
}





.Gujranwala-btn{
  background-color: rgb(18, 208, 18);
  border: none;
  color: var(--white);
  border-radius: 25px;
  padding: 17px 20px;
  margin: 20px 10px;
  cursor: pointer;
}



#par5{
  font-size: 48px;
}
#salt1{
  color: var(--white);
  text-align: center;
  justify-content:center ;

}
#Pepper{
  color: var(--white);
  text-align: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
  
  

  

}
.futurak-font{
  
  
  font-family: futurak;
  font-weight: lighter;
  font-size: 52px}


  #Social-feed{
    text-align: center;
    margin: 30px;
  
}


#Social-feed-image{
  display: flex;
  gap: 30px;
  padding: 40px 0px;
  flex-wrap: wrap;
}
.Social-image{
  width: 230px;
  height: 230px;
}




#pub{
  color: white;
}



a{
  text-decoration: none;

}
#ham{
  display: none;
}

/* footer start */
#main-footer{
  margin: 70px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
}

h3{
  padding: 0px 8px 10px;
  
}

.footer-img{
  width: 140px;
  display: flex;
  
}


#footer-para{
  width: 320px;
 
}

#food-cout{
  width: 250px;
}

#Powered-by{
  display: flex;
  color: rgb(170, 170, 170);
  justify-content: center;
  gap: 55%;
  font-family: Apercu Pro;
}


/* footer end */


/* coming catds start */


#div1{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
.cards{
  color: #000000;
  margin: 5px 5px;
      width: 356px;
      height: 230px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      justify-items: center;
      
      
      
  }
  #card-parent{
    margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  flex-wrap: wrap;
      
  
  }
  



/* coming catds end*/
/* #par5{
  font: 48px;
  font-family: ;
} */


/* media quries start */


@media only screen and (max-width: 540px) {
  
  body {
    background-color: var(--black);}
    #home{
      display: none;
    }
    #about{
      display: none;
    }
    #pub{
      display: none;
    }
    #button2{
      display: none;
    }
    #button1{
      justify-content: space-around;
      background-color: red;
      padding: 5px 10px;
      border-radius: 15px;
      color: var(--white);
      
    border: 1px solid;
    }
    #img1{
      align-items: center;
      justify-content: center;
    }
    .i{
      display: block;
      font-size: large;
    }
    #maindiv{
      
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    #divbtn{
      display: none;
    }
    #ham{
      display: block;
      color: #ffff;
      top: 80px;
    
      
    }
    

  
  
}
/* media quries start */